body {
    margin: 0;
    padding: 0;
}

header {
    overflow: auto;
    background-color: #004370;
}

img {
    float: left;
    margin: 1em 1em;
}

.titulo {
    color: white;
    display: inline;
    margin-left: 291px;
    
    font-family: Arial;
}

.imagen {
    display: inline;
    margin-left: 500px;
    padding: 10px 10px;
    text-decoration: underline;

}

.subtitulo {
    margin-left: 69%;
    color: white;
    font-family: Arial;
}

.seccion-PanelDatos {
    display: flex;
    border-style: solid;
    margin: 5em 11em;
    padding: 2em 2em;
    column-count: 2;
    align-items: center;
}

.btnCerrar {
    border-style: none;
    margin-left: 50%;
    width: 10em;
    height: 3em;
}
.button {
    border: 0;
    background-image: linear-gradient( 150deg, #9500ff, #09f, #00DDFF );
    border-radius: 8px;
    margin-left: 10px;
    color: #fff;
    display: flex;
    margin-left: 630px;
    font-size: 20px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
}
.button .span{
    background-color: #111;
    color: white;
    padding: 19px 30px;   
    border-radius: 6px;
    transition: .3s;
}
.button .span:hover {
        background: none;
    }
.button:active{
    transform: scale(1.1);
}

.panel {
    border:0;
    background-image: linear-gradient( 120deg, #808080, #111, #9500ff );
    display: flex;
    border-style: solid;
    margin: 5em 11em;
    padding: 2em 2em;
}
.panel .span {
    background-color: #111;
    color: white;
    padding: 19px 30px;
    border-radius: 6px;
    transition: .3s;
}
.panel .span:hover {
    background: none;
}
.panel:active {
    transform: scale(1.1);
}