* {
    margin: 0;
    padding: 0;
}

form {
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

img {
    margin: 2em 2em;
}

.cabeza {
    background-color: #004370;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
#btnRealizar{
    order:5;
}
h3 {
    padding-top: 3em;
    padding-right: 1em;
    text-align: center;
}

.seccion-tramite {
    margin: 2em 2em;
    background-color: rgb(154, 173, 185,0.8);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

p {
    padding: 3em;
    font-weight: bold;
    width: 33%;
    flex-basis: 33%;
}

.form-control {
    width: 20em;
}

.form-select {
    width: 20em;
}

.pie-pagina {
    display: flex;
    background-color: rgb(228, 228, 228);
    height: auto;
}

a {
    margin: 3em;
    text-decoration: none;
    color: black;
}

.btn-secondary{
    margin-top:2em;
}


.btn{
    order: 6;
}

.btn-success{
    order: 6;
    height: 3em;
}

.Mensaje{
    font-weight:bold;
    font-size:3em;
}